.container{
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.card{
    @apply bg-white shadow-lg rounded overflow-hidden;
}

.card-body{
    @apply px-6 py-4;
}

.card-title{
    @apply text-lg text-gray-700 mb-2 leading-6;
}


.embed-responsive{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.embed-responsive iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}




